{% extends "base.html" %}

{% block css %}
  <link rel="stylesheet" href="static/style.css">
{% endblock %}

{% block content %}
<div class="column is-4 is-offset-4 has-text-centered">
    <h3 class="title">Login</h3>
    <div class="box">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}
            </div>
        {% endif %}
        {% endwith %}
        <form action="/login" method="POST">
            <div class="input-container">
                <input type="email" name="email" id="email" required><label for="email">Email</label>
            </div>
            <div class="input-container">
                <input type="password" name="password" id="password" required><label for="password">Password</label>
            </div>
            <div class="field">
                <label class="checkbox">
                    <input type="checkbox">  Remember me
                </label>
            </div>
            <button id="Submit" class="button is-block is-info is-large is-fullwidth">Login</button>
        </form>
    </div>
</div>
{% endblock %}